
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<div>
    <a href="@Url.Action("User", "UserHome")">Back to Home</a>
    <table class="sign-tbl">
        <tr>
            <td class="td-prod-det-img">
                <a href="@Url.Action("Products", "Product")">
                    <img src="~/images/ProductDet/thumb_asus_1.jpg" />
                </a>
            </td>
            <td>
                <span>
                    <b>ASUS VivoBook</b><br />
                    Price:	$650.00<br />
                </span><br /><br />
                <input type="submit" class="btn-sub" value="Cancel" />
            </td>
        </tr>
        <tr>
            <td class="td-prod-det-img">
                <a href="@Url.Action("Products", "Product")">
                    <img src="~/images/ProductDet/thumb_dell_1.jpg" />
                </a>
            </td>
            <td>
                <span>
                    <b>Dell Inspiron</b><br />
                    Price:	$409.00<br />
                </span><br /><br />
                <input type="submit" class="btn-sub" value="Cancel" />
            </td>
        </tr>
    </table>
</div>