
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <a href="@Url.Action("User", "UserHome")">Back to Home</a>
    <p class="success-div">
        Order Placed Successfully!
    </p>
</div>

