
@{
    ViewData["Title"] = "UnProcessedOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modify Orders</h1>
<div>
    <input type="submit" class="btn-sub" style="float:right" value="Modify an Order" />
    <table class="order-tbl">
        <tr>
            <th class="th-border">Order Number</th>
            <th class="th-border">Total Price</th>
            <th class="th-border"></th>
        </tr>
        <tr>
            <td class="th-border">0001112121456</td>
            <td class="th-border">$1120.99</td>
            <td class="th-border">
                <input type="submit" class="btn-sub" value="Cancel" />
                <input type="submit" class="btn-sub" value="Completed" />
            </td>
        </tr>
        <tr>
            <td class="th-border">000456745676</td>
            <td class="th-border">$599.00</td>
            <td class="th-border">
                <input type="submit" class="btn-sub" value="Cancel" />
                <input type="submit" class="btn-sub" value="Completed" />
            </td>
        </tr>
        <tr>
            <td class="th-border">0000345672345</td>
            <td class="th-border">$724.89</td>
            <td class="th-border">
                <input type="submit" class="btn-sub" value="Cancel" />
                <input type="submit" class="btn-sub" value="Completed" />
            </td>
        </tr>
        <tr>
            <td class="th-border">000234567889</td>
            <td class="th-border">$876.90</td>
            <td class="th-border">
                <input type="submit" class="btn-sub" value="Cancel" />
                <input type="submit" class="btn-sub" value="Completed" />
            </td>
        </tr>
    </table>
</div>

